[submodule "my_site_name/themes/hugo-PaperMod"]
	path = my_site_name/themes/hugo-PaperMod
	url = https://github.com/AndreaCuriel/hugo-PaperMod
[submodule "my_site_name/public"]
	path = my_site_name/public
	url = https://github.com/AndreaCuriel/Hugo-Pages
